@mixin sprite-half($sprite) {
  @include sprite-image($sprite);
  @include sprite-position-half($sprite);
  @include sprite-width-half($sprite);
  @include sprite-height-half($sprite);
}

@mixin sprite-width-half($sprite) {
  width: nth($sprite, 5) / 2;
}

@mixin sprite-height-half($sprite) {
  height: nth($sprite, 6) / 2;
}

@mixin sprite-position-half($sprite) {
  $sprite-offset-x: nth($sprite, 3)/2;
  $sprite-offset-y: nth($sprite, 4)/2;
  $sprite-total-width: nth($sprite, 7)/2;
  $sprite-total-height: nth($sprite, 8)/2;
  background-position: $sprite-offset-x $sprite-offset-y;
  background-size: $sprite-total-width $sprite-total-height;
}